<div class="row">
    <div class="col-xs-12">
        <h3>Recipe Form</h3>
        <hr>
        <form (ngSubmit)="onSubmit()" [formGroup]="recipeEditForm">
            <div class="row">
                <div class="col-xs-12 btn-grp">
                    <button type="submit" class="btn btn-success" [disabled]="!recipeEditForm.valid">Save</button>
                    <button type="button" class="btn btn-danger" (click)="onCancel
                    ()">Cancel</button>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="recName">Recipe Name</label>
                        <input type="text" name="recName" id="recName" class="form-control" formControlName="name">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">Image Path</label>
                        <input type="text" name="imagePath" id="imagePath" class="form-control"
                            formControlName="imagePath" #imgPath>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <label for="img">Image</label>
                    <img id="img" [src]="imgPath.value" alt="" class="img-responsive" width="25%">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea name="description" id="description" class="form-control" rows="6"
                            formControlName="description">
                        </textarea>
                    </div>
                </div>
            </div>

            <div class="row" formArrayName="ingredients">
                <div class="col-xs-12">
                    <label
                        *ngIf="currentRecipe && currentRecipe.ingredients && currentRecipe.ingredients.length > 0 ">Ingredients
                    </label>
                    <div class="row custom-controls" *ngFor="let ingredientCtrl of getIngredientControls; let i=index;"
                        [formGroupName]="i" id="{{i}}">
                        <div class="col-xs-8">
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                        <div class="col-xs-2">
                            <input type="number" class="form-control" formControlName="amount">
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-danger" (click)="removeIngredientFormGroup(i)">
                                X
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-success" (click)="onAddingredient()">Add
                                Ingredient</button>
                        </div>
                    </div>
                </div>
            </div>


        </form>
    </div>
</div>